* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}
.vermelho {
  color: red;
}

body {
  background-color: blue;
}

Footer {
  display: flex;
  bottom: 0;
  background-color: antiquewhite;
  text-align: center;
  display: block;
}

.botaoTopo{ 
    margin :7px;
  background-color: pink;
  color: black;



}
.topo {
  display: flex;
  flex-direction: row;
 
  position-anchor: top;
  background-color: palevioletred;
}

@media (max-width: 460px) {
  body {
    background-color: red;
  }
  .Logo {
    height: 30px;
    width: 30px;
  }
}
