h1 {
  text-align: center;
}
.vermelho {
  color: red;
}
/*
body {
  background-color: rgb(177, 186, 245);
}

Footer {
  display: flex;
  bottom: 0;
  background-color: antiquewhite;
  text-align: center;
  display: block;
}

.navhome {
  display: flex;
  flex-direction: row;
}

.Logo {
  height: 30px;
  width: 30px;
}

nav {
  position-anchor: top;
  background-color: aliceblue;
}

@media (min-width: 700) {
  body {
    background-color: blue;
  }
}
*/
