@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
  --primeira-cor: rgb(255,46,11);
  --segunda-cor: rgb(0,0,0);
  --terceira-cor: rgb(255,111,210);
  --quarta-cor: rgb(242,164,233);
  --quinta-cor: rgb(255,255,255);
  --sexta-cor: rgb(102,36,15);
  --setima-cor: rgb(216,200,255);
  --oitava-cor: rgb(177,186,245);
}
 *{
  font-family: 'Poppinis', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 body{
  background-color: var(--setima-cor);
 }
 section{
  padding: 20px 8%;
 }

 .btn-default{
border:none;
display: flex;
align-items: center;
background-color: var(--terceira-cor);
border-radius: 12px;
padding: 10px 14px;
font-weight: 600;
box-shadow: 0px 0px 10px 2px var(--segunda-cor);
cursor: pointer;
transition: background-color .3s ease;
 }

 .btn-default :hover{
  background-color: var(--quarta-cor);
 }

 .social-media-buttons{
  display: flex;
  gap:18px;
 }

 .social-media-buttons a{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 40px;
  background-color: var(--terceira-cor);
  font-size: 1.25rem;
  border-radius: 10px;
  text-decoration: none;
  color: var(--segunda-cor);
  box-shadow: 0px 0px 12px 4px var(--segunda-cor);
  transition:box-shadow .3s ease ;
 }
 .social-media-buttons a:hover{
  box-shadow: 0px 0px 12px 8px var(--segunda-cor);
 }
 #banner{
  display: flex;
  align-items: start;
  justify-content: end;
  width: 70%;
  z-index: 2;
 }

 #banner img{
  height: 100%;
  width: fit-content;
 }
 .shape{
  background-color: var(--oitava-cor);
  width: 50%;
  height: 100%;
  position: absolute;
  border-radius: 40% 30% 0% 20%;
  top: 5px;
  right: 0;
  z-index: 1;
 }

 #home{
  display: flex;
  min-height:calc(100vh - 91vh) ;
  position: relative;

 }
 #cta{
  width: 35%;
  display: flex;
  flex-direction: column;
  gap: 28px;
  margin-top: 5%;
 }
 #cta .title{
  font-size: 4rem;
  color: var(--segunda-cor);
 }
 #cta .title span{
  color: var(--sexta-cor);
 }
 #cta .descricao{
  font-size: 1.2rem;
 }
 #cta_buttons{
  display: flex;
  gap: 24px;
 }
 #cta_buttons a{
  text-decoration: none;
  color: var(--segunda-cor);
 }
 #phone-button{
  display: flex;
  gap: 8px;
  align-items: center;
  background-color: var(--oitava-cor);
  padding: 8px 14px;
  font-weight: 500;
  box-shadow: 0px 0px 12px 4px var(--segunda-cor);
  border-radius:12px ;

 }

#phone-button a{
box-shadow: none;
}

@media screen and (max-width:1250px){
  #home{
    min-height: 100%;
    padding-top: 0px;
  }
  #banner, 
  #banner img,
  #home .shape{
    display: none;
  }
  #cta{
    width: 100%;
    text-align: center;
    align-items: center;
  }


}
@media screen and (max-width:450px){
  #phone_button button{
    display: none;
  }
  
}