* {
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
}
.vermelho {
  color: red;
}

body {
  background-color: whites;
}

Footer {
  display: flex;
  bottom: 0;
  background-color: antiquewhite;
  text-align: center;
}

.logoTopo {
  display: flex;
}
.botaoTopo {
  margin: 7px;
  background-color: pink;
  color: black;
}
.cabecalho {
  justify-content: space-between;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #f9eaea;
}

.barra-de-navegacao {
  display: flex;
  flex-direction: row;
  margin: 10px;
  align-items: center;
}
@media (max-width: 460px) {
  body {
    background-color: red;
  }
  .Logo {
    height: 30px;
    width: 30px;
  }
}
