 footer { 
      background-color: antiquewhite;

     
} 

header { 
 background-color: hotpink;
}  




body{ 

      background-color: rgb(177,186,245);
}
nav{ 
      background-color: aliceblue;
}